---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">Updates</h3>

<div class="entries-list">
  {% assign posts = site.posts | sort: "date" | reverse %}
  {% for post in posts %}
    <div class="list__item">
      <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
        <h2 class="archive__item-title no_toc p-name" itemprop="headline">
          <a class="u-url" href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
        </h2>
        <p class="page__meta">
          <i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i>
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
        </p>
        {% if post.excerpt %}
          <p class="archive__item-excerpt p-summary" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 300 }}</p>
        {% endif %}
      </article>
    </div>
  {% endfor %}
</div>
